<div class="header-wrapper">
    <div class="header">
        <div class="logo">
            <a href="/posts"><img src="/images/logo.png" id="header-logo" alt="logo" /></a>
            <div class="nav">
                <a href="/posts">Posts</a> |
                <a href="/addnewpost">Create a post</a>
            </div>
        </div>
        <div class="search">
            <div class="search-box">
                <input type="search" id="search-box" placeholder="" />
            </div>
            <div class="search-button">
                <input type="submit" id="search-button" value="Search" onclick="location.href='/posts'" />
            </div>
        </div>
        <div class="profile-picture" id="current-user-pfp">
            <a href="#"><img src="/images/pfp-placeholder.png" alt="pfp" /></a>
        </div>
    </div>
</div>