<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title> Create a post</title>
</head>

<body>
    <div class="create-post">
        <form action="/posts" method="POST">
            <label for="title">Post title:</label>
            <input type="text" id="title" name="title" required><br><br>
            <label for="body">Post body:</label>
            <input type="text" id="body" name="body" required><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>