.home {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
}

.home .interact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px;
}